body{
    background:#e5e5e5;
    font-family:Arial;
}

.container{
    width:300px;
    height:640px;
    background:#e5c8ea;
    margin:20px auto;
    padding:10px;
}

.header{
    display:flex;
    align-items:center;
}

.logo{
    width:40px;
}

.college h2{
    color:white;
    margin:0;
    font-size:15px;
}

.college p{
    margin:0;
    font-size:8px;
}

.auto{
    background:red;
    color:white;
    padding:3px 8px;
    font-size:10px;
}

h1{
    text-align:center;
    margin-top:40px;
}

form{
    margin-top:40px;
}

label{
    display:block;
    margin-top:20px;
    font-weight:bold;
}

input{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:none;
    background:#9ed0e0;
}

button{
    width:100%;
    padding:10px;
    margin-top:30px;
    background:#cfcfcf;
    border:none;
    font-weight:bold;
}